*{
    font-family:'Open Sans';   
}
#header{
    padding:20px;
    font-size: 30px;
    text-align: center;
}
.fancyHR{
    border:none;
    background-color:rgba(255, 0, 0, 0.24);
    height: 1px;
}
#underHeaderHR{
    width: 70%;
    margin: auto;
}
.tCen{
	text-align:center;
}
#slogan{
	padding:20px;
	background-color:#b02755;
	color:white;
	width:70%;
	margin:auto;
	font-size:15px;
}